<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:simple</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-02-14T23:57:19Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>7BDE1281-891B-4974-A2C3-5507CF58A6A9</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					QLUZUff4SC8BsFsDK9gWcA==
					</data>
					<key>Size</key>
					<integer>96</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					PPpqeoMEHsuOTJrDmla6Wg==
					</data>
					<key>Size</key>
					<integer>99</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					s2r+agco52U/qWJE4FPJIA==
					</data>
					<key>Size</key>
					<integer>138</integer>
				</dict>
				<key>css/styles/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					fdoDAYlJ+lfXKE2pndkihg==
					</data>
					<key>Size</key>
					<integer>276</integer>
				</dict>
				<key>css/styles/green.css</key>
				<dict>
					<key>Digest</key>
					<data>
					k6GXbrTKMVhxEjKc0kugMg==
					</data>
					<key>Size</key>
					<integer>279</integer>
				</dict>
				<key>css/styles/grey.css</key>
				<dict>
					<key>Digest</key>
					<data>
					5EUirT/ddNA2iFcsWpTPEg==
					</data>
					<key>Size</key>
					<integer>276</integer>
				</dict>
				<key>css/styles/soft_pink.css</key>
				<dict>
					<key>Digest</key>
					<data>
					JKih4mObScJewkDdIiI59A==
					</data>
					<key>Size</key>
					<integer>276</integer>
				</dict>
				<key>css/styles/vibrant_pink.css</key>
				<dict>
					<key>Digest</key>
					<data>
					wKV5D2dPQTkBLh0PV/Qmtg==
					</data>
					<key>Size</key>
					<integer>276</integer>
				</dict>
				<key>css/width/width_1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					A41LZqFjQrQN12hHwRBLOQ==
					</data>
					<key>Size</key>
					<integer>30</integer>
				</dict>
				<key>css/width/width_600.css</key>
				<dict>
					<key>Digest</key>
					<data>
					7Ls7AzAoDImECaMQKL9WMw==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/width/width_default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					PzZDu45GETmT/S5DL7V1Pg==
					</data>
					<key>Size</key>
					<integer>158</integer>
				</dict>
				<key>css/width/width_variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					G1cfG/MT0dNg1gaDm+LHqw==
					</data>
					<key>Size</key>
					<integer>31</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/arrow_down.png</key>
				<dict>
					<key>Digest</key>
					<data>
					HNlP13lv8xsyX473IdR/6w==
					</data>
					<key>Size</key>
					<integer>197</integer>
				</dict>
				<key>images/button_down.png</key>
				<dict>
					<key>Digest</key>
					<data>
					sV61yYtD3yLEloCUnv7oMw==
					</data>
					<key>Size</key>
					<integer>196</integer>
				</dict>
				<key>images/button_normal.png</key>
				<dict>
					<key>Digest</key>
					<data>
					hFXGKHjn6+TU3O9pGwyLMA==
					</data>
					<key>Size</key>
					<integer>192</integer>
				</dict>
				<key>images/comments.png</key>
				<dict>
					<key>Digest</key>
					<data>
					m4/xQFi1xB6edOfI+ortsA==
					</data>
					<key>Size</key>
					<integer>187</integer>
				</dict>
				<key>images/date.png</key>
				<dict>
					<key>Digest</key>
					<data>
					pw4KZhtjXeTLb96uXjNjrw==
					</data>
					<key>Size</key>
					<integer>198</integer>
				</dict>
				<key>images/filed.png</key>
				<dict>
					<key>Digest</key>
					<data>
					mzX1dAgwe30lbPUl7/2MXA==
					</data>
					<key>Size</key>
					<integer>213</integer>
				</dict>
				<key>images/grey_dot.png</key>
				<dict>
					<key>Digest</key>
					<data>
					EdAHdYj4eZ058kiJLdTcWA==
					</data>
					<key>Size</key>
					<integer>125</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					gsDySCyIFXuBqmZOsVckAQ==
					</data>
					<key>Size</key>
					<integer>155</integer>
				</dict>
				<key>images/header_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ob5/+IQmo21WU/hKTuagGQ==
					</data>
					<key>Size</key>
					<integer>145</integer>
				</dict>
				<key>images/photo.png</key>
				<dict>
					<key>Digest</key>
					<data>
					qHo2BQkhIZqpgFJ74ulvkw==
					</data>
					<key>Size</key>
					<integer>242</integer>
				</dict>
				<key>images/play.png</key>
				<dict>
					<key>Digest</key>
					<data>
					5ik6l7j6274jvv8RJxyxlQ==
					</data>
					<key>Size</key>
					<integer>191</integer>
				</dict>
				<key>images/rss_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					F9AYyNDglw4HgF+KP8cPYw==
					</data>
					<key>Size</key>
					<integer>560</integer>
				</dict>
				<key>images/trackback.png</key>
				<dict>
					<key>Digest</key>
					<data>
					XASdNkO4TmxUFmsEFMxtWA==
					</data>
					<key>Size</key>
					<integer>199</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					PEJcFRTnf3PjzeOD9Q7jdw==
					</data>
					<key>Size</key>
					<integer>13994</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:simple</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
